@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body{
    background-color: #8B5F4A;
}
.fotocandy{
    position: absolute;
    left: 16%;
}

h1{
    font-family: 'Klee One', cursive;
    color: #fff;
    position: absolute;
    top: auto;
    left: 40%;
}

.miniretangulo{
    position: absolute;
    top: 12%;
    left: 5%;
}
.candycake{
    position: absolute;
    top: 10%;
    right: 66%;
}
.candy{
    font-family: 'Klee One', cursive;
    color: #4E2F20;
    position: absolute;
    top: 63%;
    left: 20%;
    font-size: 20px;
}
.mini2{
    position: absolute;
    top: 12%;
    left: 30%;
}
.mini3{
    position: absolute;
    top: 12%;
    left: 55%;
}
.mini4{
    position: absolute;
    top: 75%;
    left: 5%;
}
.mini5{
    position: absolute;
    top: 75%;
    left: 30%;
}
.mini6{
    position: absolute;
    top: 75%;
    left: 55%;
}
.bolo-mini2{
    position: absolute;
    top: 15%;
    left: 38%;
}
.bolo-mini3{
    position: absolute;
    top: 15%;
    left: 63%;
}
.bolodemorango{
    font-family: 'Klee One', cursive;
    position: absolute;
    top: 64%;
    left: 40%;
}
.lemoncake{
    font-family: 'Klee One', cursive;
    position: absolute;
    top: 63%;
    left: 71%;
    font-size: 20px;
}
.imgchoco{
    position: absolute;
    top: 76%;
    right: 63%;
}
.chocolate{
    position: absolute;
    top: 125%;
    left: 22%;
    font-family: 'Klee One', cursive;
    font-size: 20px;
}
.imgtriple{
    position: absolute;
    top: 76%;
    left: 39%;
}
.triple{
    position: absolute;
    top: 125%;
    left: 41%;
    font-family: 'Klee One', cursive;
    font-size: 20px;
}
.imgcoracao{
    position: absolute;
    top: 76%;
    left: 62%;
}
.coracao{
    position: absolute;
    top: 125%;
    left: 69%;
    font-family: 'Klee One', cursive;
    font-size: 20px;
}