@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.meio{
    position: absolute;
    top: 40%;
    left: 35%;
}
.produto{
font-family: 'Kumar One', cursive;
position: absolute;
left: 15%;
}

#essa1{
    position: absolute;
    left: 10%;
    top: 100%;
}
#essa2{
    position: absolute;
    top: 100%;
    left: 40%;
}
#essa3{
    position: absolute;
    top: 100%;
    right: 10%;
}
.conf{
    position: absolute;
    left: 12%;
    top: 105%;
    font-family: 'Kumar One', cursive;
    font-size: 33px;
}
.sob{
    position: absolute;
    left: 42%;
    top: 105%;
    font-family: 'Kumar One', cursive;
    font-size: 33px;
}
.spec{
    position: absolute;
    right: 15%;
    top: 105%;
    font-family: 'Kumar One', cursive;
    font-size: 33px;
}

p{
    position: absolute;
    width: 209px;
height: 24px;
}

.img-bolos{
    border-radius: 20px;
    opacity: 0.7;
}


.search-box{
    position: absolute;
    top: 21%;
    left: 9%;

     background: #4E2F20;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search-txt{
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}
 ::-webkit-input-placeholder{
     color: #f0f5fb;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4E2F20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt{
    width: 240px;
}

footer {
    bottom: 0%;
    background-color: #FBE0A9;
    color: #8B5F4A;  
    text-align: center;
}
